<nav aria-label="breadcrumb  text-secondary">
    <ol class="breadcrumb text-small">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="bi bi-house"></i></a>
        </li>
        <li class="breadcrumb-item"><a
                    href="{{ path('workshop_index', {'slug' : workshop.theme.name | slugify, 'theme' : workshop.theme.id }) }}">{{ workshop.theme.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ workshop.name }}</li>
    </ol>
</nav>