@font-face {
    font-family: cgfont;
    src: url(../fonts/gothic.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

html, body {
    min-height: 100vh;
    margin: 0;
    font-family: Nunito, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40 !important;
    text-align: left;
    background-color: #f5f5f5;
}


a, button {
    color: #343a40;
}

main {
    /*overflow: hidden; TODO: Empeche l'affichage des elements, etait il la pour une raison?*/
    padding: 10px;
    min-height: 100vh;
}


nav.sidebar-grey + main {
    margin-left: 75px;
}


.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 90px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-width: 70px;
}

.sidebar-dark {
    color: rgba(255, 255, 255, .9);
}

.sidebar-dark .nav .nav-item .nav-link {
    color: #cedce4;
    display: block;
    padding: 10px 30px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    color: rgba(255, 255, 255, .5);
}

.breadcrumb {
    font-size: 14px;
    padding: .35rem 0.6rem;
    margin-bottom: 0rem;
    background: transparent;
    color: grey;
}

.sidebar-dark .nav .nav-item .active {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
}

.sidebar-grey .nav .nav-item .active {
    color: #555 !important;
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.avatar {
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding-top: 3px;
}

.avatar-list {
    border: 1px solid white;
    margin-left: -5.5px;
}

.avatar-sm {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

.avatar-xs {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    font-size: 12px;
}


label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: .5rem;
}


.tooltip {
    pointer-events: none;
}

.card-link, .card-link:hover {
    text-decoration: none !important;
    color: #212529;
}

.card-link + .card-link {
    margin-left: 0px !important;
}

@media (min-width: 540px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 800px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1290px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1600px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▼";
}


.nav-link[data-toggle].collapsed:after {
    content: " ⯈";
}


.active .img-thumbnail {
    background-color: white !important;
}

.card > .progress {
    height: 0.2rem;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.progress {
    display: flex;
    height: 0.8rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #dee2e6;
    border-radius: 20rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #17a2b8;
    background-color: #fff;
}

.swatch-400 {
    color: #212529;
    background-color: #ced4da;
}

.btn {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.no-shadow {
    box-shadow: 0 0 0 !important;
}


.arrow-left {
    border-bottom: 12px solid transparent;
    border-left: 12px solid #EAEAEA !important;
    border-top: 12px solid transparent;
    display: block;
    position: relative;
    float: right;
    top: 10px;
    right: -15px;
    background-color: transparent;
}

.arrow-right {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #EAEAEA !important;
    border-top: 12px solid transparent;
    display: block;
    position: relative;
    float: left;
    top: 10px;
    left: -15px;
    background-color: transparent;
}

.arrow-right.arrow-white {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #FFF !important;
    border-top: 12px solid transparent;
    background-color: transparent;
}

.nav-proposal .nav-link.active {
    color: #17a2b8;
}

.category-card {
    text-align: center;
}

.user_not_subscribed {
    background-color: #ce1f6a;
}

.user_subscribed {
    background-color: #81b214;
}

.table {
    border-collapse: collapse;
}

.table th, td {
    border-bottom: 1px solid #ddd;
    width: 250px;
    text-align: left;
}


.sidebar-left {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    background-color: #F0EDEE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-left a:hover {
    color: #f1f1f1;
}

.sidebar-left .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: sticky;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    margin-right: auto;
    z-index: 1049;
    background-color: inherit;
}


.openbtn:hover {
    color: darkred;
}
#main-content {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar-left {
        padding-top: 15px;
    }

    .sidebar-left a {
        font-size: 18px;
    }
}

.navbar-end-btn {
    justify-content: end;
}

.new-user-jumbotron {
    margin: 50px auto;
}

.login-button {
    width: 30%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #c4c4c4;
}

.main-header-text{
    font-size: 4rem;
}

.registration-message{
    margin: 50px auto;
}

.card-theme-title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.card-theme-subtitle{
    font-size: .8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.breadcrumb{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px black;
}

.green-tooltip{
    background-color: #B3E283;
}
.red-tooltip{
    background-color: #E99497;
}
.cyan-shadow{
    box-shadow: #00ADB5 6px 8px 6px 4px;
}

.orange-shadow{
    box-shadow: #F05945 6px 8px 6px 4px;
}

.modal-tall .modal-body
{
    position: relative;
    min-height: 80vh;
    padding: 15px;
}

.card-img-top{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sidebar-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    background-color: #F0EDEE;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidebar-right a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-right a:hover {
    color: #f1f1f1;
}

.sidebar-right .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hidden-for-id{
    visibility: hidden;
}

.full-border {
    border: 6px solid #4DA4A2;
    border-radius: 12px;
}

.vote-border{
    border: 3px solid #0c5460;
    border-radius: 6px;
}

.forum-border{
    border: 12px solid #0A1D37;
    border-radius: 6px;
}

.forum-answer-border{
    border: 12px solid #343F56;
}

.js-answer-hidden{
    display: none;
}

.chevron{
    display: flex;
}

.chevron-closing{
    display: none;
}

.bi-chevron-down, .bi-chevron-right{
    font-size: 2.5rem;
}

.threads{
    background-color: ivory;
    border: 4px solid #b0b0b0;
    border-radius: 20px;
}

.index-themes-card-text{
    padding: 5px;
}
.propositions{
    cursor: pointer;
}

.keyword-suggest{
    color: #007bff;
    cursor: pointer;
}