<div id="mySidebarProposal" class="sidebar-right">
    <a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">×</a>

{#Essayer une sidebar par proposal#}
    <div id="js-sidebar-content">
        <div class="content">
            {% for proposal in workshop.proposals %}
                {% include 'proposal/show-proposal.html.twig' %}
            {% endfor %}
        </div>
    </div>


</div>