<footer class="footer">
    <div class="container d-flex justify-content-between">
        <span class="mr-2">&copy 2021 - Agora Ex Machina dev team</span>

        <span class="d-none d-sm-block float-right">
            <span class="badge badge-primary">{{ website.version }} - #{{ website.name }}</span>
        </span>
    </div>
</footer>