{% extends 'base.html.twig' %}
{% block body %}
    <main main="role">
        <div class="container main-content">
            {% if themes is empty %}
                {% include 'default/jumbotron.html.twig' %}
            {% else %}
                <div class="row mb-2">
                    <div class="col-12">
                        {% include 'flashbag.html.twig' %}
                    </div>
                </div>
                <div class="col-11">
                    <div class="row row-cols-1 d-flex justify-content-around ">
                        {# Si l'utilisateur n'est pas connecté, on lui propose de se connecter ou de s'inscrire en lui montrant les themes publics #}
                        {% if not app.user %}
                            {% if not themes is empty %}
                                {% include 'default/jumbotron-new-user.html.twig' %}
                            {% endif %}
                        {% endif %}
                        {% for theme in themes %}
                            {% if  theme.isPublic or is_granted('ROLE_ADMIN_RESTRICTED') %}
                                {% if app.user %}
{#                                    {% if app.user in theme.category.users or is_granted('ROLE_ADMIN')%}#}
                                        {% include 'default/themes.html.twig' %}
{#                                    {% endif %}#}
                                {% else %}
                                    {% include 'default/themes.html.twig' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if app.user and app.user.categories.count == 0 %}
                            {{ 'no-categories' |trans({'%link_start%' : '<a href="'~path('category_request')~'">', '%link_end%' : '</a>'}) | raw }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

